.illandril-sheet5e-lockdown--sheet.illandril-sheet5e-lockdown--lock .illandril-sheet5e-lockdown--toggleEditOff,
.illandril-sheet5e-lockdown--sheet:not(.illandril-sheet5e-lockdown--lock) .illandril-sheet5e-lockdown--toggleEditOn {
  display: none;
}

.illandril-sheet5e-lockdown--toggleEditOff {
  color: #beb;
}
.illandril-sheet5e-lockdown--toggleEditOn {
  color: #faa;
}

.illandril-sheet5e-lockdown--noPointerEvents {
  pointer-events: none !important;
}

.illandril-sheet5e-lockdown--hide {
  display: none !important;
}

.illandril-sheet5e-lockdown--hideReserveSpace {
  visibility: hidden !important;
}

.dnd5e.sheet.actor.illandril-sheet5e-lockdown--sheet .inventory-list .item-controls {
  justify-content: center;
}

.illandril-sheet5e-lockdown--hideImportButtons #ddbImportButton {
  display: none;
}
